.card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
}

.card__image {
	background: #b8b8b8;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	align-items: start;
	height: 180px;
}

.card__info {
	display: flex;
	flex-direction: column;
	background: var(--black);
	color: var(--white);
	min-height: 150px;
	padding: 10px;
}

.card__tag {
	font-weight: 300;
	font-size: 11px;
	line-height: 16px;
	margin-bottom: 3px;
}

.card__name {
	font-weight: 600;
	font-size: 15px;
	line-height: 16px;
	margin-bottom: 8px;
}

.card__author {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
}

.card__footer {
	margin-top: auto;
	display: flex;
}

.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 8px;
	width: 36px;
	height: 32px;
	border: 1px solid var(--white);
	border-radius: 6px;
	cursor: pointer;
	background: none;
}

.card__button_active {
	background: var(--white);
}
